/* header1 */
.navbar-nav {
  width: 100%;
  justify-content: center;
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: bold;
  margin: 0 15px;
}
.navbar {
  background-color: #226eb4 !important;
  margin-bottom: 50px;
}
.navbar-nav .nav-link:hover {
  background-color: #1a5690 !important;
}

/* footer */
.footer {
  background-color: #226eb4;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  margin-top: 50px;
}
